<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>movie</title>
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .movie{
            text-align: center;
        }
        .movie img{
            width: 400px;
            height: auto;
        }
        .movie .name-1{
            margin-right: 30px;
        }
    </style>
</head>
<body>
    <div class="movie">
        <!-- <img src="" alt="">
        <p class="movie-name"></p>
        <p><span class="name-1"></span><span class="name-2"></span></p>
        <p class="destroy"></p> -->
    </div>
    <script>
        fetch('http://localhost:8040/movie/api').then(res=>res.json()).then(data=>{
            console.log(data)
            let oMovie = $('.movie')
            data.movies.forEach((movie,movieId)=>{
                let oLi = `<div class='movie-${movieId}'>
                        <img src=${movie.img} alt="">
                        <p class="movie-name">${movie.titleCn}</p>
                        <p><span class="name-1">${movie.actorName1}</span><span class="name-2">${movie.actorName2}</span></p>
                        <p class="destroy">${movie.commonSpecial}</p>
                    </div>`
                            oMovie.append(oLi)
            })
            
        })
    </script>
</body>
</html>