<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header %>
    <div class="content">
        <p>购物车</p>
        <% cartData.forEach((val,index)=>{ %>
            <li>
              <img src="<%= val.img_url%>" alt="">
              <p>商品名：<%= val.p_name %></p>
            </li>
        <% }) %>
    </div>
  </body>
</html>
