<div class="header">
    <div class="wd-100">
        <div class="fl header-f">
            <h3><%= title %></h3>
        </div>
        <nav class="fr">
            <a href="/">index</a>
            <a href="/product">product</a>
            <a href="/cart">cart</a>
            <a href="/login">login</a>
            <a href="reg">reg</a>
        </nav>
    </div>

</div>