
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header %>
    <div class="content">
      <% if(msg.msgCode == 1) { %>
        <p>登录成功<span id="last-time">3</span>秒之后跳转到<a href="/">首页</a></p>
        <script>
          let oLastTime = document.getElementById('last-time');
          let num = 3;
          let timer = setInterval(()=>{
            num--;
            if(num <= 0) {
              clearInterval(timer);
              window.location.href = '/';
            } else {
              oLastTime.innerHTML = num;
            }
          },1000)
        </script>
      <% } else { %>
        <p><%= msg.msgInfo %></p>
        <form action="" method="POST">
            <ul>
                <li>username：<input type="text" name="username"></li>
                <li>password：<input type="password" name="password"></li>
                <li><input type="submit" value="login"></li>
            </ul>
        </form>
      <% } %>
    </div>
  </body>
</html>
