*{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
.wrap{
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 20px auto;
}
.title{
    text-align: center;
}
.list{
    height: 400px;
    overflow: auto;
    background: #eee;
    padding: 5px;
    border-radius: 5px;
}
.item{
    overflow: hidden;
    padding: 10px 0;
}
.item img{
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}
.item .info{
    float: left;
    max-width: 200px;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.6;
    background: #fff;
    margin: 5px;
}
.self img{
    float: right;
}
.self .info{
    float: right;
    background: #4e2;
   
}

.send-text{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text{
    width: 55%;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}
.button{
    width: 20%;
    height: 22px;
    font-size: 14px;
    border-radius: 2px;
    background: #4e2;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


/* 滚动条样式修改 */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
} /* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-track {
    background-color: #ccc;
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
} /* 滑块颜色 */

::-webkit-scrollbar-button {
    background-color: #eee;
} /* 滑轨两头的监听按钮颜色 */

::-webkit-scrollbar-corner {
    background-color: black;
} /* 横向滚动条和纵向滚动条相交处尖角的颜色 */