*{
  margin: 0;
  padding: 0;
}
a {
  color: #00B7FF;
  text-decoration: none;
  margin: 0 10px;
}
a:hover {
  color: green;
}
ul,li{
  list-style: none;
}
/* 公用头部 */
.header{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  padding: 0 50px;
}
.wd-100{
  margin: 0 auto;
  width: 100%;
}
.header-f{
  display: flex;
}
.header-f h3{
  margin-right: 30px;
}
.ovfl{
  overflow: hidden;
}
.fl{
  float: left;
}
.fr{
  float: right;
}

/* 商品列表 */
.content{
  padding: 20px 50px;
}

